body{
    background: rgb(242, 255, 245);
    font-family:'Tahoma', Tahoma;
    font-size: larger;
    color: rgb(0, 27, 0);
}

#Navigation{
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    float: left;
    position: relative;
    right: 15px;
    bottom: 45px;
    margin-right: 40px;
    padding: 20px 40px 700px 20px;
}

#Navigation li {
    padding: 15px 5px;
}

#Navigation li a:hover{
    color: rgb(0, 86, 0);
    font-weight: bold;
}

#Navigation li a{
    padding: 15px 5px;
    color: rgb(0, 27, 0);
    text-decoration: inherit;
}

#Navigation li img{
    position: absolute;
    bottom: 30px;
}

#Footer{
    background-color: rgb(7, 66, 0);
    position: absolute;
    bottom: -300px;
    padding: 90px 0px;
    width: 100%;
}

.FooterText{
    text-align: center;
    font-size: x-large;
    color: aliceblue;
}

h1, h2, h3 {
    color: rgb(0, 66, 0);
    font-family:'Tahoma', Tahoma;
}


